<meta charset="utf-8">
{% for relative_q in relatives %}
	<div class="left_box">
        	<div class="dv1"><div class="recount">{{ relative_q.anwser_count }}</div></div>
            <div class="dv2">
            	<div><a href="/question/show/id/{{relative_q.id}}/">{{ relative_q.title }}</a></div>
                <div class="base">
                	  <span class="iviews">&nbsp;</span>
                      <span>{{ relative_q.visits }}次浏览</span>&nbsp;&nbsp;
                      <span class="itags">&nbsp;</span>
                      <span>{{ relative_q.user }}</span>&nbsp;&nbsp;
                      <span class="itime">&nbsp;</span>
                      <span>{{ relative_q.quest_time }}</span>
                </div>
            </div>
        </div>
{% endfor %}

       