{% extends "base.html" %}
<meta charset="utf-8">

{% block extend_js_css %}
<link href="/static_resource/css/login.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block header %}
<!--头部开始-->
    <div id="header">
        <div class="header">
            <h1 class="png_bg">数据平台</h1>
            <a href="/index/">返回主页</a>
        </div>
    </div>
<!--头部结束-->
{% endblock %}

{% block content %}
{% if errors %}
	<ul>
		<li>{{ errors }}</li>
	</ul>
{% endif %}
<!--中间开始-->
<div id="login_cont">
	<img src="/static_resource/images/login1.jpg" class="contentleft">
    <form name="login_form" id="login_form" method="post" action="/login/">
    {% csrf_token %}
    <h2>登录帐号</h2>
    <div class="div_user"><span></span><input class="username" id="username" name="username" placeholder="用户名" type="text"></div>
    <div class="div_pw"><span></span><input class="pw" id="password" name="password" placeholder="密码" type="password"><a class="forget_a" href="#">忘记密码？</a></div>	
    <div style="padding-bottom:5px;"><input class="login_btn" id="loginBtn" value="登录" type="button"></div>
    <h4>没有数据帐号？<a class="login_reg" href="/register">立即注册</a></h4>			
	</form>
</div>
<!--中间结束-->
<div class="cb"></div>
{% endblock %}

{% block extend_java_script %}
<script type="text/javascript">
$(function(){
	 $("#loginBtn").click(function(){
			var userName= $("#username").val();
			var password= $("#password").val();
			userName=$.trim(userName);
			password=$.trim(password);
			$(".div_user span,.div_pw span").html("");
            $("#loginBtn").val('登录中...').attr('disabled','disabled');
			 	if(userName == "" ){
                    $(".div_user span").html('<font color=red>*账户名不能为空!</font>');
                    $("#username").focus();
                    $(".btn").val('登录').removeAttr('disabled');
                    return false;
                }else if(password == ""){
                    $(".div_pw span").html('<font color=red>*密码不能为空!</font>');
                    $("#password1").focus();
                    $(".btn").val('登录').removeAttr('disabled');
                    return false;
                }else{
                   //$("#login_form").ajaxSubmit(function(e){                      
                   //    $(".loginBtn").val('登录').removeAttr('disabled');
                   //})
                   $("#login_form").submit();
                }
		 })
	})
	
</script>
{% endblock %}
