{% extends "person_base.html" %} 
<meta charset="utf-8">

{% block title %}数据服务平台-财务中心{% endblock %}

{% block content_right %}
        <!--中间右边开始-->
		<div class="u-main-right">
			<div class="ur-title">
       			<a class="appTitlea">会员中心>>我的消费记录&nbsp;【仅记录2014年09月07日之后的记录，如需历史记录请与客服联系】</a>

        	</div>
		<div class="clearfix"></div>

        <div class="linestyle">
            <table width="98%" border="0" cellspacing="0" cellpadding="0" class="wotable">
              <tr class="title">
                <td>序号</td>
                <td>数据</td>
                <td>套餐</td>
                <td>份数</td>
                <td>次数</td>
                <td>金额</td>
                <td>购买时间</td>
                <td></td>
              </tr>
              <tr>
               <td colspan="8">&nbsp;</td>
              </tr>
              <tr>
          </table>
        </div>
		<div class="clearfix"></div>
        <!--中间右边结束-->
{% endblock %}
