<meta charset="utf-8">

<link href="/static_resource/css/prettify.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="/static_resource/js/prettify.min.js"></script>

<div ng-controller="apiDetailAPIController">
	<input type="hidden" id="serve_id" value="{{serve_id}}" />
<ul class="ul1">
	<div class="dvleft">
		<a href="#">{[{serve.serve_name}]}</a>
	</div>
	<div class="dvright">
		<div class="line">
			<strong>接口地址：</strong> <span class="url">{[{serveapi.proxy_url}]}</span>
		</div>
		<div class="line">
			<strong>支持格式：</strong> <span class="url">{[{serveapi.format}]}</span>
		</div>
		<div class="line">
			<strong>请求方式：</strong> <span class="url">{[{serve.protocol.protocol_name}]}-{[{serve.protocol.support_method}]}</span>
		</div>
		<div class="line">
			<strong>请求示例：</strong> <span class="url">{[{serve_reqdemo.demo_str}]}</span>
		</div>
		<div class="line">
			<strong>接口备注：</strong> <span class="url">{[{serve.serve_desc}]}</span>
		</div>
		
		<div class="line"><strong>请求参数：</strong></div>
		<table cellpadding="0" cellspacing="0" border="0" align="center" >
			<tr>
				<th width="5%"></th>
				<th width="25%">名称</th>
				<th width="20%">类型</th>
				<th width="10%">必填</th>
				<th width="40%">说明</th>
			</tr>
			<tr ng-repeat="reqfield in serve_reqfields">
				<td width="5%"></td>
				<td width="25%">{[{reqfield.field_name}]}</td>
				<td width="20%">{[{reqfield.field_type.field_type_name}]}</td>
				<td width="10%">{[{reqfield.required | dict:"{'1':'是','2':'否'}" }]}</td>
				<td width="40%">{[{reqfield.description}]}</td>
			</tr>
		</table>
		
		<div class="line"><strong>调用样例及调试工具：</strong></div>
		<div style="margin-bottom: 20px">
			<a target="_blank" href="#" style="color: #3399CC">API测试工具</a><img
				src="/static_resource/images/link.png">
		</div>
		
		<div class="line"><strong>返回字段：</strong></div>
		<table>
			<tr>
				<th width="5%"></th>
				<th width="25%">名称</th>
				<th width="20%">类型</th>
				<th width="50%">说明</th>
			</tr>
				<tr ng-repeat="respfield in serve_respfields">
					<td width="5%"></td>
					<td width="25%">{[{respfield.field_name}]}</td>
					<td width="20%">{[{respfield.field_type.field_type_name}]}</td>
					<td width="50%">{[{respfield.description}]}</td>
				</tr>
		</table>
		
		<div class="line"><strong>JSON返回示例：</strong></div>
		<pre class="prettyprint lang-java" style="border:0px" ng-repeat="respdemo in serve_respdemos" ng-if="respdemo.demo_format.toLowerCase()=='json'">
{[{respdemo.demo_str}]}
		</pre>
		<div class="line"><strong>XML返回示例：</strong></div>
		<pre class="prettyprint lang-java" style="border:0px" ng-repeat="respdemo in serve_respdemos" ng-if="respdemo.demo_format.toLowerCase()=='xml'">
{[{respdemo.demo_str}]}
		</pre>
	</div>
</ul>
</div>
